* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

.mobile-container {
  width: 375px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: center;
}
.blank {
  color: rgb(53, 62, 72);
  height: 20px;
  margin: 0%;
  padding: 16px;
}
.reviseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 375px;
  padding: 5px;
  font-weight: bold;
  font-size: small;
}
button {
  background-color: transparent;
  border: none;
  color: rgb(19, 19, 162);
  font-weight: bold;
}
.uploadPic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background-color:transparent;
  border-radius: 20px;
  margin: 0 auto; /* 수평 중앙 정렬 */
  margin-top: 50px;
  position: relative; /* 자식 요소의 절대 위치를 위한 relative */
}
.addBtn {
  position: absolute; /* 절대 위치 */
  top: 50%; /* 세로 중앙 */
  left: 50%; /* 가로 중앙 */
  transform: translate(-50%, -50%); /* 정확히 중앙에 위치시키기 위한 보정 */
  z-index: 10; /* add-btn이 clubPic 위로 보이게 */
  width: 80px; height: 80px; 
  display: none;
}
button {
  margin-right: 10px;
}
.clubInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.clubMemberNum,
p {
  font-size: 13px;
  color: rgb(94, 94, 94);
}
p {
  margin: 8px;
}
.detail {
  margin-bottom: 100px;
  margin-right: 160px;
}
hr {
  border: none; /* 기존 테두리 제거 */
  height: 1px; /* 높이 설정 */
  background-color: #e7e7e7;
}
.clubDept {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clubinnerDept {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.vector {
  margin-right: 10px;
}

img:not(.clubPic):hover,
button,
.backBtn {
  cursor: pointer;
}
.memberInfo:not(.bottom) {
  margin-left: 30px;
}
hr.bottom {
  margin-left: 0; /* hr 요소에 따로 스타일 설정 */
}
.memberInfo img {
  width: 30px;
  height: 30px;
  margin: 5px;
}
.userBox {
  align-items: center; /* 세로 중앙 정렬 */
  display: flex;
}
.deptAdd {
  background-color: #0e207f;
  color: white;
  padding: 6px 18px;
  margin: 10px;
  border-radius: 20px;
  display: none;
}
