* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  background-color: #ffffff;
}
.mobile-container {
  width: 375px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: center;
}
.blank {
  color: rgb(53, 62, 72);
  height: 20px;
  margin: 0%;
  padding: 16px;
}
button {
  background-color: transparent;
  border: none;
  color: rgb(19, 19, 162);
  font-weight: bold;
  margin: 10px;
}
button:hover{
  cursor: pointer;
}
.uploadPic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background-color: rgb(244, 244, 244);
  border-radius: 20px;
  margin: 0 auto; /* 수평 중앙 정렬 */
  margin-top: 50px;
}
.clubInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.clubMemberNum,
p {
  font-size: 13px;
  color: rgb(94, 94, 94);
  margin-top: 5px;
}
.msgContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;

}
.msg{
  color: rgb(19, 19, 162);
  font-size: 22px;
  font-weight: bolder;
  margin: 0;
}
.inviteBtn{
  color: white;
  background-color: rgb(19, 19, 162);
  width: 100px;
  padding: 8px 23px;
  border-radius: 10px;
}