* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

.mobile-container {
  width: 375px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: center;
}
.blank {
  color: rgb(53, 62, 72);
  height: 20px;
  margin: 0%;
  padding: 13px;
}
.headline {
  font-size: 15px;
}
.reviseBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 375px;
  padding: 5px;
  font-weight: bold;
}
button {
  background-color: transparent;
  border: none;
  color: rgb(19, 19, 162);
  font-weight: bolder;
  padding: 10px;
}
button:hover {
  cursor: pointer;
}
.uploadPic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  background-color: rgb(244, 244, 244);
  border-radius: 20px;
  margin: 0 auto; /* 수평 중앙 정렬 */
  margin-top: 20px;
}
.clubInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.clubMemberNum,
p {
  font-size: 13px;
  color: rgb(94, 94, 94);
}
p {
  margin: 8px;
}
.invite {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 50px;
}

table {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* 수평 중앙 정렬 */
  border-collapse: collapse; /* 테두리 중복 제거 */
  border-radius: 10px;
  overflow: hidden; /* 테두리가 둥글게 유지되도록 */
  width: 320px;
  font-size: 14px;
}

td {
  padding: 7px;
  border: none; /* 모든 셀 테두리 제거 */
  border-top: 1px solid #f2f2f2; /* 가로줄만 표시 */
}

.text {
  text-align: left; /* 텍스트 왼쪽 정렬 */
}
tr:first-child td {
  border-top: none; /* 첫 번째 행의 상단 테두리 제거 */
}
.icon {
  text-align: right; /* 이미지 오른쪽 정렬 */
}
.circle,
.checked_circle {
  width: 19px;
  height: 19px;
}
.circle:hover,
.checked_circle:hover {
  cursor: pointer;
}
.codeBox {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  padding: 2px 10px;
  border-radius: 10px;
  margin-left: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.code {
  color: #0e207f;
  font-weight: 100;
}
.pasteBtn {
  width: 15px;
  height: 18px;
}
.pasteBtn:hover{
  cursor: pointer;
}
.codeCreateBtn {
  background-color: #0e207f;
  color: white;
  margin-left: 15px;
  padding: 10px 16px;
  border-radius: 8px;
}
