* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #ffffff;
}

.mobile-container {
  width: 375px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
header {
  background-color: rgb(235, 235, 235);
  display: flex;
  align-items: center;
  width: 375px;
  justify-content: center;
}
.SMU {
  color: rgb(53, 62, 72);

  margin: 0%;
  padding: 13px;
}
.clubImg {
  position: absolute;
  margin-left: 300px;
  width: 26px;
}
.vector {
  width: 9px;
  position: absolute;
  margin-left: 350px;
}
.clubImgInTitle {
  width: 30px;
  margin-left: 5px;
}
.post_title {
  display: flex;
  align-items: center;
  background-color: white;
  width: 375px;
  padding: 5px;
  color: rgb(222, 222, 222);
}
p {
  margin: 5px;
  font-size: small;
  color: black;
}
.dotThree {
  width: 14px;
  margin-left: 70px;
}
.runningImg {
  width: 375px;
  margin: 0;
}

.dots{
display: flex;
justify-content: center;

}
.dot{
  width: 5px;
  margin: 6px 3px;
}
hr{
  border: none; /* 기존 테두리 제거 */
    height: 1px; /* 높이 설정 */
    background-color: #ddd; 
}
.reactbar{
  display: flex;
  align-items: center;
  
}
.heart,.comment{
  width: 24px;
  margin: 7px;
}
.contentTitle{
  font-weight: bolder;
  padding: 4px;
}
.content{
  padding-left: 4px;
}