* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: white;
  overflow: hidden;
}

.home-screen {
  width: 375px;
  height: 100vh;
  background-color: #f2f2f7;
  overflow-y: auto;
}

.home-container {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 100px;
}

.my-calendar {
  width: 327px;
  height: 239px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.my-cal-header {
  font-size: 14px;
  margin-bottom: 13px;
}

.home-cal {
  width: 327px;
  height: 207px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 20px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
}

.check-list {
  padding-top: 48px;
  width: 327px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.check-list-header {
  font-size: 14px;
  margin-bottom: 12px;
}

.items {
  height: 32px;
  display: flex;
  background-color: #ffffff;
  margin-bottom: 9px;
  font-size: 12px;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  cursor: pointer;
}

.items div {
  margin-left: 12px;
}

.club-name {
  color: #6a6a70;
}

.items div:last-child {
  margin-left: auto;
  margin-right: 10px;
  margin-top: 3px;
}

.rec1 {
  padding-top: 3px;
}
