* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  position: relative;
  text-align: center;
  width: 375px;
  height: 100vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.login-title {
  margin-top: 150px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 14px;
  color: #6a6a70;
}

.input-field-id,
.input-field-pw {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: 0.5px solid #ddd;
  border-radius: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.input-field-id {
  padding-left: 20px;
  border-radius: 8px 8px 0 0; /* 위쪽만 둥글게 */
}

.input-field-pw {
  padding-left: 20px;
  border-top: none; /* 두 번째 입력창의 위쪽 테두리 제거 */
  border-radius: 0 0 8px 8px; /* 아래쪽만 둥글게 */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 0; /* 입력창 사이 간격 제거 */
}

input::placeholder {
  color: #d9d9d9;
}

.error-message-container {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
}

.login-btn {
  background-color: #0e207f;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  width: 48%;
  margin-right: 20px;
}

.sign-up-btn {
  background-color: #d9d9d9;
  color: #0e207f;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  width: 48%;
}

.find-pw-container {
  margin-top: 5px;
}

.find-pw {
  font-size: 13px;
  color: #6a6a70;
  text-decoration: none;
}

.find-pw:hover {
  text-decoration: underline;
}
